CREATE DATABASE ACDAT
GO
USE ACDAT
GO
/****** Object:  Table Categorias    Script Date: 04/12/2014 23:46:04 ******/

CREATE TABLE Categorias(
	IDCategoria int NOT NULL,
	IDCategoriaPrincipal int NULL,
	Nombre nvarchar(50) NOT NULL,
 CONSTRAINT PKCategorias PRIMARY KEY (IDCategoria)
) 


/****** Object:  Table Clientes    Script Date: 04/12/2014 23:46:04 ******/

CREATE TABLE Clientes(
	ID int NOT NULL,
	Tratamiento nvarchar(8) NULL,
	Nombre nvarchar(50) NOT NULL,
	SegundoNombre nvarchar(50) NULL,
	Apellidos nvarchar(50) NOT NULL,
	NombreEmpresa nvarchar(128) NULL,
	EmailAddress nvarchar(50) NULL,
	Telefono nvarchar(25) NULL,
 CONSTRAINT PKCliente PRIMARY KEY (ID )
) 


/****** Object:  Table LineasPedidos    Script Date: 04/12/2014 23:46:04 ******/

CREATE TABLE LineasPedidos(
	IDPedido int NOT NULL,
	Cantidad smallint NOT NULL,
	IDProducto int NOT NULL,
	precio money NOT NULL,
 CONSTRAINT PKLineasPedidos PRIMARY KEY (IDPedido ,	IDProducto )
)

GO
/****** Object:  Table Pedidos    Script Date: 04/12/2014 23:46:04 ******/


CREATE TABLE Pedidos(
	IDPedido int IDENTITY(1,1) NOT NULL,
	FechaPedido datetime NOT NULL,
	FechaServido datetime NULL,
	FechaEnvio datetime NULL,
	NumeroVenta nvarchar(25) NOT NULL,
	IDCliente int NOT NULL,
	MedioEnvio nvarchar(50) NOT NULL,
	CodigoAprobacionTarjeta varchar(15) NULL,
	SubTotal money NOT NULL,
	Impuestos money NOT NULL,
 CONSTRAINT PKPedidos PRIMARY KEY (IDPedido)
)


GO
/****** Object:  Table Productos    Script Date: 04/12/2014 23:46:04 ******/

CREATE TABLE Productos(
	IDProducto int IDENTITY(1,1) NOT NULL,
	Nombre nvarchar(50) NOT NULL,
	Numero nvarchar(25) NOT NULL,
	Color nvarchar(15) NULL,
	PVP money NOT NULL,
	Volumen nvarchar(5) NULL,
	Peso decimal(8, 2) NULL,
	IDCategoria int NULL,
	FechaLanzamiento datetime NOT NULL,
	FechaRetirada datetime NULL,
	Stock smallint NOT NULL DEFAULT ((50)),
	Sustitutivo int NULL,
 CONSTRAINT PKProductos PRIMARY KEY (IDProducto)
) 

GO

INSERT Categorias (IDCategoria, IDCategoriaPrincipal, Nombre) VALUES (1, NULL, N'Bikes')
, (2, NULL, N'Components'), (3, NULL, N'Clothing'), (4, NULL, N'Accessories')
, (5, 1, N'Mountain Bikes'), (6, 1, N'Road Bikes'), (7, 1, N'Touring Bikes')
, (8, 2, N'Handlebars'), (9, 2, N'Bottom Brackets'), (10, 2, N'Brakes')
INSERT Categorias (IDCategoria, IDCategoriaPrincipal, Nombre) VALUES (11, 2, N'Chains')
, (12, 2, N'Cranksets'), (13, 2, N'Derailleurs'), (14, 2, N'Forks'), (15, 2, N'Headsets')
, (16, 2, N'Mountain Frames'), (17, 2, N'Pedals'), (18, 2, N'Road Frames')
, (19, 2, N'Saddles'), (20, 2, N'Touring Frames'), (21, 2, N'Wheels')
INSERT Categorias (IDCategoria, IDCategoriaPrincipal, Nombre) VALUES (22, 3, N'Bib-Shorts')
, (23, 3, N'Caps'), (24, 3, N'Gloves'), (25, 3, N'Jerseys'), (26, 3, N'Shorts')
, (27, 3, N'Socks'), (28, 3, N'Tights'), (29, 3, N'Vests'), (30, 4, N'Bike Racks')
, (31, 4, N'Bike Stands'), (32, 4, N'Bottles and Cages'), (33, 4, N'Cleaners')
--SET IDENTITY_INSERT Clientes ON 

INSERT Clientes (ID, Tratamiento, Nombre, SegundoNombre, Apellidos, NombreEmpresa, EmailAddress, Telefono) VALUES (1, N'Mr.', N'Orlando', N'N.', N'Gee', N'A Bike Store', N'orlando0@adventure-works.com', N'245-555-0173')
INSERT Clientes (ID, Tratamiento, Nombre, SegundoNombre, Apellidos, NombreEmpresa, EmailAddress, Telefono) VALUES (2, N'Mr.', N'Keith', NULL, N'Harris', N'Progressive Sports', N'keith0@adventure-works.com', N'170-555-0127')
INSERT Clientes (ID, Tratamiento, Nombre, SegundoNombre, Apellidos, NombreEmpresa, EmailAddress, Telefono) VALUES (3, N'Ms.', N'Donna', N'F.', N'Carreras', N'Advanced Bike Components', N'donna0@adventure-works.com', N'279-555-0130')
GO
--SET IDENTITY_INSERT Clientes OFF
GO
INSERT LineasPedidos (IDPedido, Cantidad, IDProducto, precio) VALUES (71774, 1, 822, 356.8980)
INSERT LineasPedidos (IDPedido, Cantidad, IDProducto, precio) VALUES (71774, 1, 836, 356.8980)
INSERT LineasPedidos (IDPedido, Cantidad, IDProducto, precio) VALUES (71776, 1, 907, 63.9000)
GO
SET IDENTITY_INSERT Pedidos ON 
SET DATEFORMAT 'YMD'
GO
SET IDENTITY_INSERT Pedidos OFF
SET IDENTITY_INSERT Productos ON 

INSERT Productos (IDProducto, Nombre, Numero, Color, PVP, Volumen, Peso, IDCategoria, FechaLanzamiento, FechaRetirada, Stock, Sustitutivo) VALUES (680, N'HL Road Frame - Black, 58', N'FR-R92B-58', N'Black', 1431.5000, N'58', CAST(1016.04 AS Decimal(8, 2)), 18, CAST(N'1998-06-01 00:00:00.000' AS DateTime), NULL, 45, NULL)
INSERT Productos (IDProducto, Nombre, Numero, Color, PVP, Volumen, Peso, IDCategoria, FechaLanzamiento, FechaRetirada, Stock, Sustitutivo) VALUES (706, N'HL Road Frame - Red, 58', N'FR-R92R-58', N'Red', 1431.5000, N'58', CAST(1016.04 AS Decimal(8, 2)), 18, CAST(N'1998-06-01 00:00:00.000' AS DateTime), NULL, 50, NULL)
INSERT Productos (IDProducto, Nombre, Numero, Color, PVP, Volumen, Peso, IDCategoria, FechaLanzamiento, FechaRetirada, Stock, Sustitutivo) VALUES (707, N'Sport-100 Helmet, Red', N'HL-U509-R', N'Red', 34.9900, NULL, NULL, 35, CAST(N'2001-07-01 00:00:00.000' AS DateTime), NULL, 54, NULL)

GO
SET IDENTITY_INSERT Productos OFF
ALTER TABLE Categorias  WITH CHECK ADD  CONSTRAINT FKCategoriasJerarquia FOREIGN KEY(IDCategoriaPrincipal)
REFERENCES Categorias (IDCategoria)
GO
ALTER TABLE Categorias CHECK CONSTRAINT FKCategoriasJerarquia
GO
ALTER TABLE LineasPedidos  WITH CHECK ADD  CONSTRAINT FKLineasPedidos FOREIGN KEY(IDPedido)
REFERENCES Pedidos (IDPedido)
GO
ALTER TABLE LineasPedidos CHECK CONSTRAINT FKLineasPedidos
GO
ALTER TABLE LineasPedidos  WITH CHECK ADD  CONSTRAINT FKLineasProductos FOREIGN KEY(IDProducto)
REFERENCES Productos (IDProducto)
GO
ALTER TABLE LineasPedidos CHECK CONSTRAINT FKLineasProductos
GO
ALTER TABLE Pedidos  WITH CHECK ADD  CONSTRAINT FKPedidosClientes FOREIGN KEY(IDCliente)
REFERENCES Clientes (ID)
GO
ALTER TABLE Pedidos CHECK CONSTRAINT FKPedidosClientes
ALTER TABLE Productos  WITH CHECK ADD  CONSTRAINT FKProductosCategorias FOREIGN KEY(IDCategoria)
REFERENCES Categorias (IDCategoria)
GO
ALTER TABLE Productos CHECK CONSTRAINT FKProductosCategorias
ALTER TABLE Productos  WITH CHECK ADD  CONSTRAINT FKSustitutivo FOREIGN KEY(Sustitutivo)
REFERENCES Productos (IDProducto)
GO
ALTER TABLE Productos CHECK CONSTRAINT FKSustitutivo

CREATE LOGIN amazon with PASSWORD = 'allavoy'
GO
CREATE USER amazon FOR LOGIN amazon
GO
GRANT EXECUTE, INSERT, UPDATE, DELETE, SELECT TO amazon

UPDATE Productos SET Sustitutivo = 706 WHERE IDProducto = 680
UPDATE Productos SET Sustitutivo = 680 WHERE IDProducto = 706
UPDATE Productos SET Sustitutivo = 707 WHERE IDProducto = 708
UPDATE Productos SET Sustitutivo = 680 WHERE IDProducto = 722
UPDATE Productos SET Sustitutivo = 706 WHERE IDProducto = 728
UPDATE Productos SET Sustitutivo = 706 WHERE IDProducto = 734
UPDATE Productos SET Sustitutivo = 726 WHERE IDProducto = 719
UPDATE Productos SET Sustitutivo = 727 WHERE IDProducto = 720
UPDATE Productos SET Sustitutivo = 723 WHERE IDProducto = 729
UPDATE Productos SET Sustitutivo = 736 WHERE IDProducto = 740
UPDATE Productos SET Sustitutivo = 737 WHERE IDProducto = 741
UPDATE Productos SET Sustitutivo = 750 WHERE IDProducto = 756
UPDATE Productos SET Sustitutivo = 750 WHERE IDProducto = 757
UPDATE Productos SET Sustitutivo = 773 WHERE IDProducto = 777
UPDATE Productos SET Sustitutivo = 772 WHERE IDProducto = 776
UPDATE Productos SET Sustitutivo = 800 WHERE IDProducto = 793
UPDATE Productos SET Sustitutivo = 744 WHERE IDProducto = 831
UPDATE Productos SET Sustitutivo = 744 WHERE IDProducto = 835
UPDATE Productos SET Sustitutivo = 744 WHERE IDProducto = 838
UPDATE Productos SET Sustitutivo = 844 WHERE IDProducto = 845

UPDATE Productos SET Sustitutivo = 847 WHERE IDProducto = 848
UPDATE Productos SET Sustitutivo = 870 WHERE IDProducto = 871
UPDATE Productos SET Sustitutivo = 895 WHERE IDProducto = 888
UPDATE Productos SET Sustitutivo = 896 WHERE IDProducto = 889
UPDATE Productos SET Sustitutivo = 895 WHERE IDProducto = 891
UPDATE Productos SET Sustitutivo = 744 WHERE IDProducto = 925
UPDATE Productos SET Sustitutivo = 778 WHERE IDProducto = 926

GO
CREATE FUNCTION fnHaySuficienteStock (@IDProducto int, @Cantidad int) RETURNS Bit
AS
	BEGIN
		DECLARE @ret bit = 0
		DECLARE @StockDisponible int = (SELECT Stock FROM Productos WHERE IDProducto = @IDProducto)
		IF(@StockDisponible >= @Cantidad)
			SET @ret = 1

		RETURN @ret
	END
GO